---
layout: default
title: tim o'brien @ t413.com
---

<h2>All <i class="fa fa-tags"></i>tags</h2>


{% for post in site.posts %}
  TAGS: {{ post.tags }}
{% endfor %}


{% for thistag in site.data.tags %}

  <div class="tagpage-header">
    <span class="bigtag">{{ thistag }} <i class="fa fa-tag"></i></span><span class="mdash">&mdash;</span>Articles by tag
  </div>

  <div class="listposts">
    {% for page in site.tags[thistag] %}
      <a href="{{ page.url }}">{{ page.title }}</a> - {{ page.date | date: "%B %d, %Y" }}
      <!-- {{ page.excerpt }} -->
    {% endfor %}
  </div>
{% endfor %}
