* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: white;
  color: #222222;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid {{ site.highlight_color }};
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

h1.title {
  font-weight: 800;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: {{ site.highlight_color }};
  text-decoration: none;
}

a:hover {
  color: {{ site.highlight_color }};
  text-decoration: underline;
}

a:visited {
  color: {{ site.highlight_color }};
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#recent-posts-title {
  margin-bottom: 4px;
  font-size: 18px;
}

ul#recent-posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul#recent-posts li {
  font-size: 13px;
  margin-bottom: 0px;
}

ul#recent-posts span {
  font-family: 'Lucida', 'Andale';
  color: #aaa;
  padding-left: 5px;
  font-size:12px;
}

ul#recent-posts a {
  color: #444;
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

nav h1, nav h2 {
  text-align: center;
}

nav hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: dotted #ddd;
  border-width: 1px 0 0;
}

#social {
  margin-bottom: 10px;
  font-size: 13px;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

.sidebar {
  padding-top: 25px;
  font-family: "Open Sans", sans-serif;
}

.sidebar p {
  font-weight: 200;
}

.sidebar a {
  font-weight: 600;
}

.content {
  font: 400 16px/22px "Open Sans", sans-serif;
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#posts h2 {
  color: {{ site.highlight_color }};
}

#posts hr {
  margin: 30px 0;
}

#posts a.continue {
  padding: 4px;
  display: block;
  text-align: center;
  border-top: 1px solid #eee;
  margin-bottom: 30px;
}
#posts a.continue:hover {
  text-decoration: none;
  border-top-color: {{ site.highlight_color }};
}
.continue i { padding-left: 5px; }

#logo {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.shadowed {
    text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

#stalker {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

#stalker a {
  width: 29px;
  overflow: hidden;
  float: left;
}

#stalker i {
  font-size: 28px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: {{ site.highlight_color }};
}

i.fa-hn {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}
