<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="The blog of {{ site.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:200,300,600,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/all.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{site.url}}/atom.xml" />
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
</html>
